/* Fonts and Typography */
@font-face{ 
	font-family: 'Cicle';
	/* src: url('fonts/new_cicle_fina-webfont.ttf'); */
	src: url('/fonts/new_cicle_fina-webfont.eot');
	src: url('/fonts/new_cicle_fina-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/new_cicle_fina-webfont.woff') format('woff'),
	     url('/fonts/new_cicle_fina-webfont.ttf') format('truetype'),
	     url('/fonts/new_cicle_fina-webfont.svg#webfont') format('svg');
} 
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

p {
    margin-top: 0.5rem;
}
.logo{
	filter: invert(1) saturate(0);
	height: 35px;
	/* transform: translateY(-5px); */
	/* margin-top: 2rem; */
}
body {
	padding: 1rem;
    max-width: 60ch;
	font-family: 'Roboto', Arial, sans-serif;
	/* letter-spacing: .05em; */
	color: rgb(255, 255, 255);
}
html {
	padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100ch;
	font-family: 'Roboto', Arial, sans-serif;
	/* letter-spacing: .05em; */
	color: rgb(255, 255, 255);
	font-size: 14pt; /* or consider using 100% to respect user's browser settings */
}
span{
    line-height: 0pt;
    padding: 0;
    margin: 0;
}
article p{
    margin-left:0;
    padding-left: 0;
    margin-right: auto;
    
}
.projects{
    display: grid;
    margin:0;
    padding:0;
    margin-bottom: 1rem;
}
nav{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
width: 100%;
/* white-space: nowrap; */
}
article{
    margin:0;
    margin-top: 0.5rem;
    padding:0;
}
a{
	color:rgb(255, 255, 255);
}


h1,h2,h3,h4,h5{
	text-transform: uppercase;
	padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:0px;
    font-size: 120%;
}
button {
    color: rgb(255, 255, 255);
	font-size: 100%;
    background-color: black;
    border: none;  /* Removes default button border */
    appearance: none;  /* Removes default button appearance */
    border-radius: 5px;
	border-color: white;
	border-width: thin;
    font-family: 'Roboto', Arial, sans-serif;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}
#submitBtn{
	width: 100%;
}
#submitBtn:disabled {
	/* Disabled button styles */
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
  }
a:not(.subtext):not(h1 a)::after {
	content: " \2197";
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
	font-weight: 200;
	white-space: nowrap;
  }
h1.return a::before {
    content: " \2190"; /* Unicode for leftward arrow */
    position: absolute; /* Positions the arrow relative to its parent <a> */
    transform: translateX(-120%) translateY(-10%); /* Moves the arrow leftwards by its own width */
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 200;
}
#footNav {
    display: flex;                  /* Ensures flexbox layout */
    justify-content: space-between; /* Keeps #leftNav and #rightNav on either side */
    width: 100%;                    /* Takes full width */
    align-items: flex-end;          /* Aligns children to the bottom */
	white-space: nowrap;
	height: auto;
}

#leftNav {
    display: flex;                  /* Enables flexbox layout */
    justify-content: space-between; /* Spreads items evenly */
    align-items: flex-end;          /* Aligns items to the bottom */
    gap: 1rem;                      /* Space between items */
    height: 30px;                   /* Fixed height */
	white-space: nowrap;
}
@media (max-width: 350px) {
	#leftNav {
	flex-direction: column;
	gap: 0.25rem;      
	height: auto;                   /* Fixed height */
	/* Space between items */
	}
	
}

#rightNav {
    display: flex;                  /* Enables flexbox layout */
    flex-direction: row-reverse;    /* Reverses the row order */
    align-items: flex-end;          /* Aligns items to the bottom */
    gap: 1rem;                      /* Space between items */
    height: 30px;                   /* Fixed height */
}

.bubble-link {
	/* transform: translateX(-1rem); */
	font-weight: bold;
	display: inline-block;
	padding: 10px 20px;
	background-color: white;
	color: black;
	text-decoration: none;
	border-radius: 30px;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .bubble-link:hover {
	background-color: gray;
	color: black;
  }
#rightNav>*{
	align-items: center;
	vertical-align:bottom;

}
#leftNav>*{
	align-items: center;
	vertical-align:bottom;

}
@media (max-width: 400px){
	nav, #leftNav, #rightNav{
		gap: 0rem;
		font-size: 100%;
	}
}
@media (max-width: 700px){
	h1.return a::before {
		content: " \2190"; /* Unicode for leftward arrow */
		position: absolute; /* Positions the arrow relative to its parent <a> */
		transform: translateX(-112%) translateY(-15%); /* Moves the arrow leftwards by its own width */
		font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 200;
		scale: 0.75;
	}

	/* a{
		margin-left: 0px;
		margin-right: 0px;
	} */
}

h1.return a:not(.home):hover::before{
	background-color: black;
	color: white;
}



body.using-mouse button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

body.using-mouse button:active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.subgroup, .title{
    font-size: 120%;
    position: relative;
	margin-top: .2rem;
	text-align: left;
	/* letter-spacing: .05em; */
}

.unicode-char{
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	/* letter-spacing: .05em; */
	font-weight: 200;

}
.small{
	font-size: 60%;
	/* letter-spacing: .02em; */

}

.title {
  text-transform: uppercase;
  /* right: 40px; */
  margin-bottom: 0.1rem;
}

#entry-date{
	border-width: thin;
	border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
	justify-content: center;
    padding-right: 0.5rem;
}

.year{
	transform: translateY(43px);
	/* right: 40px; */
	position: relative;
	padding-top: 16px;
	padding-bottom: 0px;
	font-size: 50%;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 13px;
	text-align: right;
	font-family: Roboto, Arial, sans-serif;
	/* letter-spacing: 1rem; */
	text-decoration: none;
	overflow: hidden;
	color:black;
}
  
.hidden{
	display: none;
}
/* Scrollbar Styles */
body{
	overflow-y: scroll;
	overflow-x: hidden;
	/* right:0px; */
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

body.noScroll {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

.subgroup{
	display: none;
	transform: translateY(-60px);
}

/* Link and Text Styles */
.subtext {
	position: relative;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: right;
	padding-left: 10px;
	padding-right: 7px;
	background: black;
	color: white;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	z-index: 1;
}
.subtext:focus{
	color: white;
}
.subtext:active{
	color: white;
}
.subtext:hover{
	color: white;
}
body.using-mouse .subtext:hover {
    background: white;
    color: black;
    z-index: 2;
}

a:hover{
    color: black;
    background-color: white;
}


.subtext:focus {
    background:white;
    color: black;
    z-index: 2;
}

#entry-date, #entry-tags{
	height: 100%;
	width: 30px;
	text-align: center;
    font-size: 55%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
#entry-date{
	display: inline-block;

}
#entry-date>*{
	text-align: center;
}


#entry-description{
	padding-top: 0px;
	margin-top: 2px;
}
#entry-tags{
	padding-left: 0px;
	letter-spacing: .001em;


}
body.using-mouse .clickable:hover{
	cursor: pointer;
	color: #fff;
}
body.using-mouse .hovered{
	cursor: pointer;
	color: #fff;
}
body.using-mouse .hovered path{
	stroke:#ffffff;
}

#entry-date{
	border-width: thin;
	border-style: solid;
	justify-content: center;
    margin-right: 6px;

/* padding-left: 8px; */
}

#preview-attachments{
	display: none;
}

#fileUpload {
    opacity: 0; /* Make the input invisible */
    position: absolute; /* Take it out of the flow */
    z-index: -1; /* Place it behind other elements */
}
.file-upload-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3630b0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#photo {
    opacity: 0; /* Make the input invisible */
    position: absolute; /* Take it out of the flow */
    z-index: -1; /* Place it behind other elements */
}
.camera-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #28a745; /* Green color for the camera button */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}





/* Close indicator styles */
.close-indicator {
    position: fixed;
    /* display: none; */
    pointer-events: none;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: black;
    padding: 4px;
    border-radius: 100px;
    z-index: 1000;
	min-width: 45px;
	min-height: 45px;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 150%;
	overflow: hidden;
}


body{
	background-color: rgb(0, 0, 0);
	/* color: white; */
}
header{
    margin-top: 1rem;
}
main{
	overflow: visible;
	min-width: 100%;
	max-width: 100%;
    margin-top: 1.5rem;

}

	
	body.using-mouse button:hover {
		background-color: white;
		color: black;
	}

@media (max-width: 900px){
	p{
		max-width: 60ch;
	}
}
form{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: white;
	font-size: 100%;

}
#form-background{
	/* overflow: visible; */
	z-index: -1;
	position: absolute;
	/* max-width: 60ch; */
	/* transform: translateX(-1rem); */
	top: 0;
    right: -1rem;
    bottom: 0;
    left: -1rem;
	border: white;
	border-style: solid;
	border-radius: 0.8rem;
	border-width: thin;
	background-color: #ffffff;

}
#filesList{
    list-style-type: none; /* This removes the bullet points */
}
#filesList, ul{
	padding-left: 0rem;
	margin-left: 0px;
}
#filesList>li>button{
	/* position: absolute; */
	margin-left: 0.5rem;
	/* transform: translateY(-25%); */
	vertical-align: middle;
	/* right: 0px; */
	border-radius: 2rem;
}
#filesList>li{
	padding-bottom: 0.5rem;
	align-items: center; /* Vertically centers the child content */
	display: flex;
	flex-basis: content;
	justify-content:space-between;
}


form>*{
	color: black;
}
form>*>*>*{
	color: black;
}
form>*:hover{
	color: black;
}
#conditionalInputs{
	padding-top: 0rem;
	padding-left: 0rem;
	padding-bottom: 0.5rem;
}
.form-group {
    margin-bottom: 0.8rem;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
    /* background-color: #f3f3f3; */
    /* padding: 0.5rem; */
    /* border-radius: 8px; */
}

input[type="email"], input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
	font-size: 100%;
}

input[type="file"] {
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
	font-size: 100%;

}
input::placeholder{
	font-size: 100%;
}
.form-upload{
	position: relative;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


#image-box {
	max-height: 300px;
    display: flex;              /* Ensures the container is a flexbox */
    align-items: center;        /* Centers the image vertically */
    justify-content: center;    /* Centers the image horizontally */
    overflow: hidden;           /* Prevents any overflow from being visible */
}

#image-box > img {
	width: 100%;
    object-fit: cover;          /* Ensures the image covers the container */
}
/* Credits Page Styles */
.credits {
    margin-top: 2rem;
	text-align: center;
}

.credits h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 100%;
}

.credits ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.5rem;
}

.credits li {
    margin-bottom: 0.3rem;
    font-size: 100%;
    position: relative;
    padding-left: 1.2em;
}
main>img{
	width: 100%;
	height: 280px;
}

.credits li::before {
    content: "";
    position: absolute;
    left: 0;
    color: white;
}
a {
	padding-right: 0.5rem;
}

.credits a {
    text-decoration: underline;
}

.credits p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Special Thanks Section */
.special-thanks {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #333;
    border-radius: 4px;
}

.special-thanks p {
    margin: 0;
}

#recordButton, #stopButton {
    padding: 10px 20px;
    color: white;
    background-color: rgb(145, 110, 20);
    border: 2px solid white;
    transition: background-color 0.3s, border-color 0.3s;
	border-radius: 5px;

}

#recordButton:disabled, #stopButton:disabled {
    background-color: grey;
    border-color: grey;
}

#recordButton:hover, #stopButton:hover {
    border-color: pink;  /* Visual feedback when hovered */
}

#recordButton:focus, #stopButton:focus {
    outline: none;
    border-color: pink;  /* Visual feedback when recording */
    animation: pulseBorder 1.5s infinite;
}

@keyframes pulseBorder {
    0% { border-color: white; }
    50% { border-color: pink; }
    100% { border-color: white; }
}

#timer {
    color: white;
    margin-left: 20px;
    font-size: 120%;
}

#filesList img {
    height: 50px;
	width: 100px; 
    border-radius: 5px; 
    margin: 0px;    
    margin-right: 0.5rem;    

		object-fit: cover;
		object-position: center; /* Adjusts the alignment of the image within its frame */
	
}
